html,
body,
#root {
  height: 100%;
  background-color: #008080;
}

body {
  margin: 0;
  padding: 0;
}

.xterm {
  font-family: 'Fira Code', monospace !important;
  font-size: 14px !important;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Ensures TaskBar is at the bottom */
}
